
body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
  }               
.navbar{
    background-color: rgb(253, 165, 155);
}
.card{
    
    margin : 100px ;
    border: 5px outset salmon;
    background-color: rgb(253, 165, 155) ;
   
}
.card-header{
    background-color: rgb(240, 131, 119) ;
}
