body {
    background: url("../images/background.jpg") no-repeat center fixed;
    background-size: cover;
  }       
.navbar{
    background-color: rgb(253, 165, 155);
}
.card{
    padding : 10px ;
    margin : 10px ;
    border: 5px outset salmon;
    background-color: rgb(253, 165, 155) ;
    transition: width 2s, height 2s;
}
.card:hover{
    /* width:100%;
    height:100%; */
    outline-style: groove;
}
.card-header{
    background-color: rgb(240, 131, 119) ;
}
.modal-header{
    background-color: rgb(240, 131, 119) ;
}
.modal-body{
    background-color: rgb(253, 165, 155) ;
}
.modal-footer{
    background-color: rgb(253, 165, 155) ;
}
